@import "variables.scss";

.container_main{
    padding: $padding-30;
    padding: $padding-30;
    background-color: black;
    .jumbotron {
        height: 400px;
        background-image: url("./assets/img/jumbotron.jpg");
        background-size: cover;
        background-position: top center;
      }
    .container{
        .card-container{
           display: flex;
           flex: wrap;
        }
    }
}
